.information
  %h1
    Thanks for using RemindBlast!
  %p
    RemindBlast was built using the
    = link_to "Spongecell API", "http://spongecell.com/api"
    with the
    = link_to "Sponger toolkit", "http://code.google.com/p/sponger/"
    and ActiveResource with Ruby on Rails 2.0. You can view the
    = link_to "open source project.", "http://github.com/ckhsponge/remindblast"
  %br
  %p
    Authors
    .contributors
      %ul
        %li
          Audrey Bilsborrow
        %li
          Nik Bonaddio
        %li
          Chris Hobbs
        %li
          David Passiak
        %li
          Kevin Trowbridge
  %br
  %p
    Visit Spongecell for the best
    = link_to "online calendars and event promotion", RemindblastController::SPONSOR_URL
    tools in existence.
  %p
    To subscribe to the latest news and updates about RemindBlast text 
    %b
      Go RemindBlast
    to SPONGE (776643).
  %p
    You may also subscribe to the 
    = link_to "RSS", RemindblastController::RSS_URL
    feed,
    = link_to "Webcal", RemindblastController::WEBCAL_URL
    feed or download all reminders as an
    = link_to "ICAL", RemindblastController::ICAL_URL
    file.
  %p
    To report abuse, unsubscribe, or for general information please send email to
    = mail_to RemindblastController::CONTACT_EMAIL, RemindblastController::CONTACT_EMAIL, :encode=>"javascript"
