- @show_go_back_link = false
<script>
function checkSelected(sel) {
var x = document.getElementById('custom_section');
if(sel != 'Other') {
x.style.display = "none";
y.style.display = "none";
} else {
x.style.display = "block";
}
}			
</script>

- form_for :reminder, nil, :url => {:action => 'save'} do |f|
  .step
    =image_tag "step_one_header.png"    
    = error @reminder.errors[:message]

    #othermsg
      %h3 Looking for a custom message?
      Choose "Other" in the dropdown and write it your damn self.    

    %label Name
    = f.text_field :name
    
    %br
    
    %label Message
    = select :reminder, :message, RemindblastController::MESSAGES, {}, {:class=>'message',:onchange=>"checkSelected(this.options[this.selectedIndex].value)"}
    
    #custom_section{:style=>@reminder.message==::Reminder::OTHER ? 'display:block;' : ''}
      %label Custom Message
      = f.text_field :custom_message

  .step
    =image_tag "step_two_header.png"
    = error @reminder.errors[:destination]

    %label SMS Number:
    = f.text_field :mobile_number
    %br
    %p - or -
    %br
    %label Email
    = f.text_field :email
  
  .step
    =image_tag "step_three_header.png"
    = error @reminder.errors[:start_time]
    %label Date and Time
    = datetime_select :reminder, :start_time
    %label Time Zone
    = select :reminder, :time_zone, RemindblastController::TIME_ZONES, {}, {:class=>'time_zone'}

  .step-bottom


  .clearingDiv

  #cta
    #cta_wrapper
      #cta_label
        %p 
          By submitting a blast, you agree to our 
          =link_to "Terms of Service", :action => "terms"
      #cta_button
        / = submit_tag "Sign up today"      
        =image_submit_tag "/images/cta_button.png", :width => "207", :height => "32", :border => "0"
