- @show_go_back_link = false

= stylesheet_link_tag "http://yui.yahooapis.com/2.5.1/build/fonts/fonts-min.css"
= stylesheet_link_tag "http://yui.yahooapis.com/2.5.1/build/calendar/assets/skins/sam/calendar.css"
= javascript_include_tag "http://yui.yahooapis.com/2.5.1/build/yahoo-dom-event/yahoo-dom-event.js"
= javascript_include_tag "http://yui.yahooapis.com/2.5.1/build/calendar/calendar-min.js"
= javascript_include_tag "remindblast"

- form_for :reminder, nil, :url => {:action => 'save'} do |f|
  .step
    =image_tag "step_one_header.png"    
    = error @reminder.errors[:message]

    #othermsg
      %h3 Looking for a custom message?
      Choose "Other" in the dropdown and write it your damn self.    

    %label Name
    = f.text_field :name, {:onchange=>"dataChanged()",:onkeyup=>"dataChanged()"}
    
    %br
    
    %label Message
    = select :reminder, :message, RemindblastController::MESSAGES, {}, {:class=>'message',:onchange=>"dataChanged()"}
    
    #custom_section{:style=>@reminder.message==::Reminder::OTHER ? 'display:block;' : ''}
      %br
      %label Custom Message
      = f.text_field :custom_message, {:onchange=>"dataChanged()",:onkeyup=>"dataChanged()"}
    #preview
      %br
      %label Preview
      #preview_text
        = h @reminder.message
      

  .step
    =image_tag "step_two_header.png"
    = error @reminder.errors[:destination]

    %label SMS Number:
    = f.text_field :mobile_number
    %br
    %p - or -
    %br
    %label Email
    = f.text_field :email
  
  .step
    =image_tag "step_three_header.png"
    = error @reminder.errors[:time]
    %label Time and Time Zone
    = time_select :reminder, :start_time
    = "-"
    = select :reminder, :time_zone, RemindblastController::TIME_ZONES, {}, {:class=>'time_zone'}
    %br
    %label Date

    .yui-skin-sam
      = f.text_field :start_date, :value=>fmt_date(@reminder.start_date)
      <div id="cal1Container"></div>
  /.step-bottom


  .clearingDiv

  #cta
    #cta_wrapper
      #cta_label
        %p 
          By submitting a blast, you agree to our 
          =link_to "Terms of Service", :action => "terms"
      #cta_button
        / = submit_tag "Sign up today"      
        =image_submit_tag "/images/cta_button.png", :width => "207", :height => "32", :border => "0"
