<script>
function checkSelected(sel) {
var x = document.getElementById('custom_section');
if(sel != 'Other') {
x.style.display = "none";
} else {
x.style.display = "block";
}
}			
</script>

.outer-container
  = image_tag "header_background.jpg"
  
  .inner-container    
    = error flash[:note]
        
    - form_for :remind, nil, :url => {:action => 'save'} do |f|
      .step
        =image_tag "step_one_header.png"    

        %label Name
        = f.text_field :name
        
        %br
        
        %label Message
        = select :remind, :message, RemindblastController::MESSAGES, {:selected=>nil}, {:class=>'message',:onchange=>"checkSelected(this.options[this.selectedIndex].value)"}

        =image_tag "customized_messages.png"
        
        #custom_section
          %label Custom Message
          = f.text_field :custom_message
  
      .step
        =image_tag "step_two_header.png"

        %label SMS Number:
        = f.text_field :mobile_number
        %br
        %p - or -
        %br
        %label Email
        = f.text_field :email
      
      .step
        =image_tag "step_three_header.png"
        = error flash[:time]
        %label Date and Time
        = datetime_select :remind, :start_time
        %label Time Zone
        = select :remind, :time_zone, RemindblastController::TIME_ZONES, {:selected=>"Los Angeles"}, {:class=>'time_zone'}

      .step-bottom
    
    
      .clearingDiv
    
      #cta
        #cta_wrapper
          #cta_label
            %p 
              By submitting a blast, you agree to our 
              =link_to "Terms of Service"
          #cta_button
            / = submit_tag "Sign up today"      
            =image_submit_tag "/images/cta_button.png", :width => "207", :height => "32", :border => "0"
    