
.outer-container
  = image_tag "header_background.jpg"
  - if flash[:note]
    = h flash[:note]
  
  .inner-container    
    - form_for :remind, nil, :url => {:action => 'save'} do |f|
      .step
        =image_tag "step_one_header.png"    

        %label Name
        = f.text_field :name
        
        %br
        
        %label Message
        = select :remind, :message, RemindblastController::MESSAGES

        =image_tag "customized_messages.png"
        
        %label Custom Message
        = f.text_field :custom_message
  
      .step
        =image_tag "step_two_header.png"

        %label SMS Number:
        = f.text_field :mobile_number
        %br
        %p - or -
        %br
        %label Email
        = f.text_field :email
      
      .step
        =image_tag "step_three_header.png"
        %label Start
        = datetime_select :remind, :start_time
        %label Time Zone
        = select :remind, :time_zone, RemindblastController::TIME_ZONES, :selected=>"Los Angeles"

      .step-bottom
        =image_tag "step_four_header.png"
    
      .clearingDiv
    
      .ctaRounded
        .cta
          = submit_tag "Sign up today"      
          / = link_to 'Sign up today', marketing_path(:action => :sign_up), {:id => 'signUpButton'}
          %p
            By sending this blast, you agree to our
            =link_to "Terms of Service"
            ==.
    