- @hide_go_back_link ||= false
- @onload ||= nil
%html
  %head
    %title
      RemindBlast -- Email and SMS Reminders for You and Your Friends
  
    / app stylesheet
    = stylesheet_link_tag "reset"
    = stylesheet_link_tag "http://yui.yahooapis.com/2.5.1/build/fonts/fonts-min.css"
    = stylesheet_link_tag "http://yui.yahooapis.com/2.5.1/build/calendar/assets/skins/sam/calendar.css"    
    = stylesheet_link_tag "remindblast"
  
  %body{:onload=>@onload}

    #frame
      #header
        = image_tag( "/images/header.png", :usemap => "header_map", :width => "1000", :height => "129", :alt => "Welcome to RemindBlast - a free service of Spongecell.", :title => "Welcome to RemindBlast - a free service of Spongecell.", :border => "0")
        %map{:name => "header_map"}
          %area{:shape => "rect",:coords => "0,0,300,300",:href => "/"}
          %area{:shape => "rect",:coords => "700,0,1000,300",:href => RemindblastController::SPONSOR_URL}
    
      #intro
        %h1 Free your mind, go have fun, we'll blast your reminder when you need it.
        RemindBlast lets you set reminders by email or text for anything in the future. Pick up groceries, an important meeting,
        drinks with friends or a late night rendezvous. Just enter your message and contact info, select date and time, hit send, and we'll remind you when you
        need it.    
  
      #wrapper
        - if flash[:note]
          %br
          #layout_error
            %img{ :src => "/images/error.png", :width => "36", :height => "36", :title => "Error" }
            = flash[:note]
        =yield

    #footer
      =link_to "Digg it!", "http://digg.com/gadgets/RemindBlast_can_remind_your_stinky_friend_it_s_time_to_bathe"
      |
      =link_to "Learn more about remindBlast", {:action=>"about"}, { :title => "About remindBlast", :class => "thickbox"} 
      |
      =link_to "See recent remindBlasts", {:action=>"list"}, { :title => "Recent remindBlasts", :class => "thickbox" } 
      | 
      == Powered by Ruby, YUI, and C<sub>8</sub>H<sub>10</sub>N<sub>4</sub>O<sub>2</sub> 1,3,7-trimethyl#{link_to "spongecell", RemindblastController::SPONSOR_URL}
      %br
      &copy; 2008 Spongecell. By sending a blast, you agree to the 
      =link_to "Terms of Service", "http://spongecell.com/legal/terms", { :popup => true }   

    /   = link_to "See recent RemindBlasts", :action => "list"
    /   - unless @hide_go_back_link
    /     .go-back
    /       = go_back_link